body {
    font-family: "Lato 100", "Lato 300", "Lato 400", "Lato 700", "Lato 900", sans-serif;
    color: white;
    height: 50vh;
    margin: 0;
    padding: 0;
}

body > div {
    min-height: 99vh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 5px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover, a:focus {
    color: #72DCB8 !important;
}

.navigation-on-index {
    display: none;
}

#navigation-container {
    background-color: #232931;
    max-width: 20%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#navigation-container h1 {
    text-transform: uppercase;
    font-size: 3vw;
}

#navigation-container ul {
    list-style: none;
    text-align: center;
    padding: 0;
    line-height: 4rem;
    font-size: 1.5vw;
}

#navigation-container a {
    padding: 10px;
}

#logo-link {
    display: block;
    width: 75%;
}

.navigation-logo {
    width: 100%;
    animation: spin 20s infinite ease-in-out;
    margin-top: 20px;
    margin-bottom: 50px;
}

.social-media-container * {
    display: inline-block;
}

.social-media-container img {
    max-width: 50px;
    min-width: 20px;
}

.social-media-container {
    justify-self: flex-end;
}

@keyframes spin {
    0% {
        transform: scale(1);
    }
    1% {
        transform: rotate(360deg);
    }
    6% {
        transform: rotate(0deg) scale(1.3);
    }
    7% {
        transform: scale(1);
    }
}
